.sub-header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px lightgray solid;
  padding: 3px 0;
}

.sub-header ul li{
  margin-left: 15px;
  
  & :hover{
    text-decoration: underline;
    background-color: lightgray;
  }
}


