<section class="page-content">
  <h1>Log In!</h1>

  <form action="<%=session_url%>" method="post">
    <%= form_auth %>
    <label>Username
    <input type="text" name="user[username]" value="">
    </label>
    <label>Password
    <input type="password" name="user[password]" value="">
    </label>
    <input class="submit-button" type="submit" value="Login">
  </form>
</section>