
<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
  
  <nav class="right-nav">
    <ul>  
      <li class="right-btns">Subscribe Now</li>
      <li class="right-btns">Log In</li>
      <li id="gear-dropdown-btn">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <div class="gear-better-look">
          <%= render partial: 'shared/gear_dropdown' %>
        </div>
      </li>
      
    </ul>
  </nav>
</header>