<header class="masthead">
  <div class="language-nav">
    <ul>
      <a>CSS</a>
      <a>HTML</a>
      <a>Javascript</a>
      <a>Ruby</a>
    </ul>
  </div>
  <img src="assets/AA_Times_Logo.png" alt="header-logo" class="logo">
  <div class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i><button class="icon-hover">Today’s Paper</button></li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i><button class="icon-hover">Video</button></li>
    <li><button>77°F</button></li>
    <li><button>AAO <strong>+100%</strong></button></li>
  </div>
</header>