.hamburger-dropdown {
  display: none;
}


@media all and (max-width: 900px) {
  nav ul {
    display: none;
  }
  .hamburger-dropdown {
    display: block;
  }
  
  .hamburger-dropdown {
    background-image: url('hamburger.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hamburger-dropdown > li {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    position: relative;
    cursor: pointer;
  }

  .hamburger-dropdown ul {
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    cursor: pointer;
    box-shadow: black 5px 5px 10px;
  }
  
  .hamburger-dropdown:hover ul {
    display: flex;
    background: ghostwhite;
  }
  
  .hamburger-dropdown ul li:hover a {
    text-decoration: underline;
  }


}