/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: 400;
}

.header-logo:hover {
  
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background-color: white;
}